/* top bar */
.dangol{height:42px;line-height:45px;text-align:center;}
.login{margin-right:1%;}
.open-panel{color:black;}
.content-block{margin:0px;}
/* top bar */
.slider-container{width:90%;margin: 0 auto;}