.swiper-container{width:100%;height:100%;}
.swiper-slide{color:#fff;text-align:center;line-height:200px;height:100%;}
.swiper-scrollbar{height:2%;background-color:white;}
.red-slide{background:#900;}
.blue-slide{background:#06C;}
.orange-slide{background:#F63;}