.swiper-container{width:100%;height:100%;margin:0px;}
.swiper-wrapper{margin:0px;}
.swiper-slide{color:#fff;text-align:center;line-height:200px;height:100%;margin:0px;}
.swiper-scrollbar{height:2%;background-color:white;margin:0px;}
.red-slide{background:#900;margin:0px;}
.blue-slide{background:#06C;margin:0px;}
.orange-slide{background:#F63;margin:0px;}