@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700);

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
	-webkit-font-smoothing: antialiased;
}
body {
	background: #fff;
	font-family: "Open Sans", Arial, sans-serif;
}
h1, h2, h3 {
	font-family: "Source Sans Pro", Arial, sans-serif;
}
.inside {
	width: 960px;
	margin: 0 auto;
}
.clear {
	clear: both;
}
#logo {
	width: 100px;
	height: 100px;
	position: fixed;
	z-index: 10;
	background: #ef6957;
	overflow: hidden;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}
#logo .logo {
	background: #ef6957;
	width: 100px;
	height: 100px;
	z-index: 9;
	position: absolute;
}
#logo:hover {
	width: 200px;
}
#logo i {
	position: absolute;
	right: -100px;
	top: 0;
	color: #fff;
	width: 100px;
	height: 100px;
	background: #f28576;
	text-align: center;
	line-height: 100px;
	display: none;
	font-size: 24px;
	z-index: 5;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}
#logo:hover i {
	right: 0;
	display: block;
}
#logo a {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 10;
	position: absolute;
}
#logo img {
	width: 50px;
	margin: 0 25px;
	display: block;
	padding: 25px 0;
}
.star {
	position: absolute;
	top: 15px;
	right: 0;
}
#hero {
	height: 400px;
	width: 100%;
	background: #e9e9e9;
	position: relative;
}
#hero .inside {
	position: relative;
}
#hero h2 {
	color: #ef6957;
	text-align: center;
	font-size: 64px;
	font-weight: 100;
	line-height: 400px;
}
#main {
	background: #fff;
	position: relative;
	box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.1);
}
#main .inside {
	padding: 75px 0;
}
#main section {
	border-bottom: 1px solid #eee;
}
#main section:last-of-type {
	border-bottom: none;
}
#main section h3 {
	color: #333;
	font-size: 32px;
	font-weight: 400;
	margin: 0 0 25px;
}
#main section p {
	color: #777;
	font-size: 18px;
	line-height: 35px;
}
#main section ul.customize {
	margin: 25px 0 0 45px;
}
#main section ul.customize li {
	color: #777;
	font-size: 14px;
	line-height: 25px;
	list-style: disc;
}
#main pre {
	padding: 25px;
	line-height: 20px;
	overflow-x: scroll;
}
#main .fork {
	margin: 25px 0 0;
}
section#download {
	background: #f07767;
}
section#download * {
	color: #fff !important;
}
footer {
	height: 100px;
	background: #ef6957;
	position: relative;
}
footer img.shipp {
	height: 32px;
	float: left;
	padding: 34px 0;
}
footer iframe {
	float: right;
	margin: 36px 0;
}

@media screen and (max-width: 1152px) {
	.inside {
		width: 80% !important;
	}
	#logo {
		position: absolute;
	}
}
@media screen and (max-width: 576px) {
	#logo:hover {
		width: 100px;
	}
	#logo .logo {
		position: relative;
		margin: 0 auto !important;
	}
	#logo:hover i {
		right: -100px;
	}
	#hero {
		height: 100px;
	}
	#hero h2 {
		display: none;
	}
	#hero .star {
		top: 35px;
		right: 15px;
	}
	#main {
		box-shadow: none;
	}
}